body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  background-color: rgb(102, 172, 189);
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

.container{
  margin: 0 2rem;
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 760px;
}

.title{
  display: flex;
  justify-content: center;
  color: darkslategray;
}

.menu {
  margin: 10px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.menu .signToken{
  margin-left: 10px;
}
.formBox{
  margin: 10px;
  padding: 10px;
  border: 1px solid slategrey;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.inputItem{
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 10px;
}

.inputItem label{
  min-width: 100px;
}

.inputItem input{
  min-width: 300px;
}