@font-face{
  font-family:"rockwell-std-bold";
  src:url("./webfonts/Rockwell-Std-Bold.otf") format("woff"),
  url("./webfonts/Rockwell-Std-Bold.otf") format("opentype"),
  url("./webfonts/Rockwell-Std-Bold.otf") format("truetype");
}

body {
  font-family: rockwell-std-bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  background-color: white;
  -webkit-app-region: drag;
  /* transform: scale(0.94); */
  /* overflow: hidden; */
}
.container-border{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(102, 172, 189); */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 790px;
  height: 590px;
  border-radius: 6px;
  -webkit-app-region: drag;
}
.container-content{
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 90%;
  /* box-shadow: inset 0px -1px 10px 1px #0000002e; */
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  .left-section{
    display: flex;
    flex-direction: row;
    .logo{
      width: 100px;
      height: 50px;
      background-image: url(./image/logo/logo2x1n.png);
      background-size: contain;
      background-position: center;
      margin-left: 10px;
    }
    .title{
      display: flex;
      align-self: center;
      justify-content: center;
      color: darkslategray;
      font-size: 24px;
      margin: 5px 0 0 10px;
      color: #8790E6;
    }
  }
  .right-section{
    margin: 0px 5px 0 0;
  }
}

.line{
  height: 1px;
  width: 95%;
  background-color: #c2e9fb;
  margin: 5px auto;
}

.menu {
  margin: 10px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.menu .signToken{
  margin-left: 10px;
}
.formBox{
  margin: 10px;
  padding: 10px;
  border: 1px solid slategrey;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.inputItem{
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 10px;
}

.inputItem label{
  min-width: 100px;
}

.inputItem input{
  min-width: 300px;
}

.modal.settings .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 400px;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.98;
  box-shadow: inset 0px -1px 10px 1px #0000002e;
  .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .token-list{
    width: 560px;
    height: 260px;
    border: 1px solid #8790E6;
    border-radius: 6px;
    padding: 5px;
    overflow-y: scroll;
    .item{
      background-color: rgb(123, 183, 252);
      padding: 5px 10px;
      margin: 5px 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 2px;
      span{
        vertical-align: text-bottom;
      }
    }
  }
}