@import './common.scss';

@font-face {
  font-family: "rockwell-std-bold";
  src: url("../webfonts/Rockwell-Std-Bold.otf") format("woff"),
    url("../webfonts/Rockwell-Std-Bold.otf") format("opentype"),
    url("../webfonts/Rockwell-Std-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Oblivious";
  src: url("../webfonts/Oblivious_font.ttf") format("truetype");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

.hide{
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  background-color: white;
  -webkit-app-region: drag;
  /* transform: scale(0.94); */
  /* overflow: hidden; */
}
.container-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(102, 172, 189); */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 790px;
  height: 590px;
  border-radius: 6px;
  -webkit-app-region: drag;
}
.container-content {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 90%;
  /* box-shadow: inset 0px -1px 10px 1px #0000002e; */
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  .left-section {
    display: flex;
    flex-direction: row;
    .logo {
      width: 100px;
      height: 50px;
      background-image: url(../image/logo/logo2x1n.png);
      background-size: contain;
      background-position: center;
      margin-left: 10px;
    }
    .title {
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: 24px;
      font-family: rockwell-std-bold;
      margin: 5px 0 0px 10px;
      color: #b465a3;
    }
  }
  .right-section {
    margin: 0px 5px 0 0;
    .open-settings{
      display: none;
    }
  }
}

.line {
  height: 1px;
  width: 95%;
  background-image: linear-gradient(to right, #fff, #c2e9fb, #fff);
  margin: 5px auto;
  &.h2{
    height: 2px;
  }
}

.module-panel {
  margin: 5px 10px 0 10px;
  height: 100%;
  .left-panel{
    justify-content: space-around;
    .module-view {
      flex: 2;
      padding: 5px 10px;
      width: 400px;
      border-radius: 5px;
      // background-color: #00cba9;
      background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
      justify-content: space-between;
      .head-view{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .head-view-left{
          align-items: baseline;
          line-height: unset;
          .name{
            font-size: 26px;
            font-weight: 600;
            padding-left: 10px;
            margin-bottom: 10px;
            color: floralwhite;
          }
          .module-edit{
            cursor: pointer;
            &:hover{
              color: rgb(141, 145, 136);
            }
          }
        }
        .module-save{
          display: none;
          margin-top: 5px;
        }
      }
      .module_id{
        font-size: 11px;
      }
      .module_repo{
        font-size: 14px;
      }
    }
    .package-view {
      flex: 1;
      padding: 5px 10px;
      width: 400px;
      margin-top: 5px;
      border-radius: 5px;
      // background-color: #d6c394;
      background-image: linear-gradient(to top, #50A7C2 0%,  #5ee7df 100%);
      .name{
        font-size: 20px;
        font-weight: 600;
        padding-left: 10px;
        margin-bottom: 10px;
        color: floralwhite;
      }
    }
    .detail-view{
      flex: 1;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #708db9;
      border-radius: 4px;
      .field{
        display: flex;
        flex-direction: row;
        .field_name{
          font-weight: 600;
          min-width: 90px;
          text-align: right;
        }
        .text{
          user-select: text;
          margin-left: 20px;
          box-shadow: inset 0px -1px 10px 1px #4988b12e;
          padding: 2px 2px 2px 10px;
          color: #3a5221;
          flex: 1;
          &.long{
            border-radius: 4px;
            font-size: 14px;
          }
        }
        .module_repo{
          margin-bottom: 5px;
        }
        input[name="module_repo_edit"]{
          display: none;
        }
        textarea[name="module_desc_edit"] {
          min-width: unset;
          display: none;
        }
      }
    }
  }
  .right-panel{
    margin-left: 5px;
    flex: 1;
    position:relative;
    .loading{
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: rgb(87, 75, 75);
      background-image: linear-gradient(-225deg, #473b7bf5 0%, #3584A7f5 51%, #30D2BEf5 100%);
      border-radius: 5px;
      z-index: 2;
      padding: 15px;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .upload-progress{
        justify-content: center;
        flex: 1;
        .step-gap{
          height: 20px;
          margin-left: 10px;
          border-left: 5px;
          border-left-style: dotted;
          border-left-color: aliceblue;
        }
        .step{
          margin: 20px 0;
          display: flex;
          flex-direction: row;
          .info{
            color: aliceblue;
            margin-left: 10px;
          }
        }
      }
      .button{
        width: 50%;
      }
    }
    .upload-view{
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      background-image: linear-gradient(55deg, #30cfd0 0%, #330867 100%);
      .upload-picker{
        padding-top: 10px;
      }
      .upload-package-info{
        margin: 5px 10px;
        border: 1px solid #cbb85e;
        border-radius: 6px;
        .field {
          margin: 10px 15px;
          label {
            min-width: 200px;
            color: #c2e9fb;
          }
          input {
            min-width: 260px;
          }
        }
      }
      .submit-view{
        margin-bottom: 10px;
      }
    }
  }
}

.modal.token-database {
  animation-duration: 0.5s;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 400px;
    background: #f8f8fff5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset 0px -1px 10px 1px #0000002e;
    .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .token-list {
      width: 560px;
      height: 260px;
      border: 1px solid #8790e6;
      border-radius: 6px;
      padding: 5px;
      overflow-y: scroll;
      .item {
        background-color: rgb(123, 183, 252);
        padding: 5px 10px;
        margin: 5px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        span {
          vertical-align: text-bottom;
        }
      }
    }
  }
}
